.freshy {
  grid-area: freshy;
  background-color: $color-green;
}
.common {
  color: #fff;

  @include flex-center;
  gap: 3rem;
  padding: 3rem;
}
.title {
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  width: 14rem;
  font-weight: 300;
  line-height: 1;

  & span {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 2px;
    display: block;

    &::first-line {
      font-weight: 900;
    }
  }
}
.common__desc {
  max-width: 60%;
  hyphens: auto;
}

.healthy {
  grid-area: healthy;
  background-color: $color-red;
  padding-bottom: 8.5rem;
}

.thirsty {
  background-color: $color-orange;
  grid-area: thirsty;

  .common__desc {
    text-align: right;
    max-width: 20rem;
  }
}

.col-rev {
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.row-rev {
  flex-direction: row-reverse;
}
