.header {
  width: 100%;
  display: grid;
  grid-template: 'logo nav search' max-content / 50% 1fr 100px;
  align-items: center;
  justify-items: start;
  padding: 20px 0;

  text-transform: uppercase;

  overflow: hidden;
}

.header__logo-wrapper {
  grid-area: logo;
  justify-self: end;
  padding-right: 40px;
}

.logo {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  color: $color-red;
  font-size: 24px;
  line-height: 1;
}

.header__nav {
  grid-area: nav;

  ul {
    display: flex;
    gap: 10px;
  }
  a {
    padding: 15px;
    transition: color 0.2s ease-in-out;
    position: relative;
    display: inline-block;
  }
  a:hover {
    color: $color-blue;
  }
  a:active {
    color: #44a7a2;
  }

  a::after {
    content: '';
    display: block;
    width: 70%;
    height: 100%;

    background-color: $color-blue;

    position: absolute;
    left: 15px;
    bottom: -200%;

    transition: bottom 0.5s, background-color 0.2s;
  }

  a:hover::after {
    bottom: -80%;
  }
  a:active::after {
    background-color: #44a7a2;
  }
}

.search {
  grid-area: search;

  &__icon {
    transition: all 0.2s;
  }

  &:hover &__icon {
    fill: $color-blue;
  }
  &__icon {
  }
}
