.main {
  max-height: 100vh;
  display: grid;
  // grid-template-rows: 3fr 1fr 1fr;
  // grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  // grid-template-areas:
  //   'slider-arrows healthy thirsty thirsty'
  //   'slider-arrows healthy slider-dots photo3'
  //   'photo4  healthy slider-dots photo3';
  grid-template:
    'slider-arrows healthy thirsty thirsty' 3fr
    'slider-arrows healthy slider-dots photo3' 1fr
    'freshy  healthy slider-dots photo3' 3fr /
    2fr 1fr 1.5fr 1.5fr;
}

@import './sliders/slider-arrows';
@import './sliders/slider-dots';
