.main {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  grid-template-areas:
    'slider-arrows photo1 photo2 photo2'
    'slider-arrows photo1 slider-dots photo3'
    'photo4  photo1 slider-dots photo3';
  grid-template:
    'slider-arrows photo1 photo2 photo2' 3fr
    'slider-arrows photo1 slider-dots photo3' 1fr
    'photo4  photo1 slider-dots photo3' 3fr / 2fr 1fr 1.5fr 1.5fr;
}
.slider {
}
.slider-arrows {
}
.slider-arrows__items-wrapper {
}
.slider-arrows__item {
}
.slider-arrows__nav {
}
.slider-arrows_arrow {
}
.btn {
}
.slider-arrows__btn {
}
